@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600;800;900&family=Signika+Negative:wght@400;500;600;700&display=swap');


:root {
    --primary-color: #ffc857ff;
    --secondary-color: #e9724cff;
    --accent1-color: #c5283dff;
    --accent2-color: #011627ff;

    --heading-font: 'Merienda';
    --paragraph-font: 'Signika Negative', sans-serif;


}

* {
    margin: 0 auto;
    padding: 0px;
    border: none

}


.hero {
    width: 100%;
    position: relative;
    height: 450px;
    background: radial-gradient(#c5283dff, #011627ff);
    

}

.flex {
    display:flex;
    align-items: center;
    }

.flex nav {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    border: 2pt solid #c5283dff;
    align-items: center;
    border-radius: 20px;
}

.flex nav a {
    background-color: #c5283dff;
    border-radius: 1em;
    padding: 0px 4px 0px 4px;
    color: #ffffff;
    
}


.flex2{
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

#second {
    width: 100%;
    height: 400%;
    background-color: antiquewhite;
}

.flex2 div {
    padding: 20px;
    text-align: justify;
}



h2 {
    position: relative;
    text-align: center;
}

.hero img {
    opacity: 55%;
    width: 100%;

}

.hero h1 {
    position: absolute;
    margin: 40px;
    top: 1px;
    left: 350px;
    text-align: center;
    font-family: var(--heading-font);
    color: rgb(151, 208, 226);
    font-size: 400%;
    text-shadow: 0 0 25px #000000;

}


article {
    display: flex;
    position: absolute;
    margin: 100px;
    top: 100px;
    left: 100px;
    text-align:left;
    background: var(--accent1-color);
    box-shadow: 0 0 25px #000000;
    text-align: center;
    justify-content: space-around;    

}

.box1 {
    min-height: 100px;
    padding: 10px;
    text-align: left;
    color: #ffffff;
    font-family: var(--paragraph-font);
    font-size: 14px;

}

.box2 {
    min-height: 100px;
    padding: 10px;
    text-align: left;
    align-self: auto;
    
}

.box1 p {
    padding-top:40px;
    
}



.box2 img{
    width: 200px;
    height: auto;
    opacity: unset;
}

h3 {  
    position: absolute;
    margin: 10px;
    left: 500px;   
    
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
} 
     





section {
    margin: 1em;
}
section h2{
    color:var(--secondary-color);
    padding: 2px;
    margin-right: 5px;
}

#third {
    width: 100%;
    height: 400%;
    background-color: antiquewhite;

}

.flex4 {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    
    
}

.flex4 div {
    width: 220px;
    height: 150px;
    border-radius: 10px;
    color:white;
    background-color: var(--secondary-color);
    

}

.flex4 div img{
    width: 100%;
    height: 80%;
    justify-content: center;
    
}

.flex4 div p {
    text-align: center;   

}

.flex5 {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    
}

.sociallinks {
    display: flex;
    align-content:space-around;
    


    
}

.sociallinks a img{
    width: 30px;
    height: 30px ;
    padding: 3px;
    text-align:end
}