@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600;800;900&family=Signika+Negative:wght@400;500;600;700&display=swap');


:root {
    --primary-color: #ffc857ff;
    --secondary-color: #e9724cff;
    --accent1-color: #c5283dff;
    --accent2-color: #011627ff;

    --heading-font: 'Merienda';
    --paragraph-font: 'Signika Negative', sans-serif;


}

* {
    margin: 0 auto;
    padding: 0px;
    border: none

}


.hero {
    width: 100%;
    position: relative;
    height: 450px;
    background: radial-gradient(#c5283dff, #011627ff); 

}

.flex {
    display:flex;
    align-items: center;
}

.flex nav {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    border: 2pt solid #c5283dff;
    align-items: center;
    border-radius: 20px;
}

.flex nav a {
    background-color: #c5283dff;
    border-radius: 1em;
    padding: 0px 4px 0px 4px;
    color: #ffffff;
    
}


.flex2 {
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

#second {
    width: 100%;
    height: 400%;
    background-color: antiquewhite;
}

.flex2 div {
    padding: 20px;
    text-align: justify;
}



h2 {
    position: relative;
    text-align: center;
}

.hero img {
    opacity: 55%;
    width: 100%;

}

.hero h1 {
    position: absolute;
    margin: 40px;
    top: 1px;
    left: 350px;
    text-align: center;
    font-family: var(--heading-font);
    color: rgb(151, 208, 226);
    font-size: 400%;
    text-shadow: 0 0 25px #000000;

}


article {
    display: flex;
    position: absolute;
    margin: 100px;
    top: 100px;
    left: 100px;
    text-align:left;
    background: var(--accent1-color);
    box-shadow: 0 0 25px #000000;
    text-align: center;
    justify-content: space-around;    

}

.box1 {
    min-height: 100px;
    padding: 10px;
    text-align: left;
    color: #ffffff;
    font-family: var(--paragraph-font);
    font-size: 14px;

}

.box2 {
    min-height: 100px;
    padding: 10px;
    text-align: left;
    align-self: auto;
    
}

.box1 p {
    padding-top:40px;
    
}




.box2 img{
    width: 200px;
    height: auto;
    opacity: unset;
    
}

h3 {  
    position: absolute;
    margin: 10px;
    left: 500px;   
    
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
} 
     
section {
    margin: 1em;
}

section h2{
    color:var(--secondary-color);
    padding: 2px;
    margin-right: 5px;
}

#third {
    width: 100%;
    height: 400%;
    background-color: antiquewhite;

}

.flex4 {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-around;
    
    
}

.flex4 div {
    width: 220px;
    height: 150px;
    border-radius: 10px;
    color:white;
    background-color: var(--secondary-color);
    

}

.flex4 div img{
    width: 100%;
    height: 80%;
    justify-content: center;
    
}

.flex4 div p {
    text-align: center;   

}

.flex5 {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    
}

.sociallinks {
    display: flex;
    align-content:space-around;
    
    
}

.sociallinks a img{
    width: 30px;
    height: 30px ;
    padding: 3px;
    text-align:end
}


#happy1 {
    width: 100%;
    position: relative;     

}

#happy1 div img {
    
    width: 100%;
    filter: blur(4px);
    opacity: 85%;

    
}

#happy1 div {
    border-top: solid #a67535 7px;
    border-bottom: solid #a67535 7px;
    background-color: rgb(139, 90, 16);
    
}

#happy1 h1 {
    position: absolute;
    margin: 70px;
    top: 90px;
    left: 400px;
    text-align: center;
    font-family: var(--heading-font);
    color: rgb(151, 208, 226);
    font-size: 50pt;
    text-shadow: 0 0 25px #000000;

}

#happy1 p {
    position: absolute;
    margin: 60px;
    top: 250px;
    left: 100px;
    text-align: center;
    font-family: var(--heading-font);
    color: #ffffff;
    font-size: 12pt;
    text-shadow: 0 0 25px #000000;
}

#happy2 {
    margin: 0px;
    width: 100%;
    height: 250%
}

#staffs {
    display: flex;
    height: 400px;
    justify-content:space-around;
    
}

#staffs div {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    color:rgb(14, 7, 7);  
}

#staffs div img{
    width: 100%;
    height: 80%;
    justify-content: center;
    border-radius: 90px;
    padding: 10px;
    border: solid rgb(104, 24, 24)
}

#staffs div p {
    text-align: left;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;

}

#mapform {
    display: flex;
    background-color: antiquewhite;
   
}

#right {
    background-color: #ffffff;
    padding: 0.5rem;
    
}

#flexform h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
    text-align: left;
}

form {
    width: 400px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ebf8e6;
    display: grid;
    
}

fieldset{
    display: grid;
    grid-gap: 0.5rem;
    margin: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
    height: 420px;

}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.0em;
}

label, input, button, select, textarea {
    font-family: 'Roboto', sans-serif;

}

label {
    text-align: left;
    
}

input, textarea {
     font-size: 1.5rem;
    
}

.form-item {
    display: grid;
    align-items: center;
    margin: 0rem;
}

input[type="checkbox"], [type="radio"] {
    width: 22px;
    height: 22px;
}

button {
    margin: 1rem;
    background-color: rgb(0, 128, 115);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(80, 199, 16);

}



.column1 {
    grid-template-columns: 3fr 0fr;
    
}


#selection, label, #feedback, #fullname, #useremail {
    font-size: 1rem;
    width: 100%;

}

#selection,  #fullname, #useremail{
    height: 30px;
}


#right p {
    margin-top: 1rem ;
 
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

#newsletter {
    font-size: 12pt;
    text-align: left;
}